#menu {
    width: 100%;
    height: 60px;
    justify-content: flex-start; /* exemplo 2 referente ao indexClassID.class */
    justify-content: flex-end; /* exemplo 2 referente ao indexClassID.class */
    justify-content: space-between; /* exemplo 2 referente ao indexClassID.class */
    display: flex;
}